/* * {
	border: 1px dashed red;
}
*/

body {
	margin: auto;
}
h1 {
	font-family: 'Montez', serif;
	font-weight: normal;
	text-align: center;
	font-size: 2.5em;
}
h2{
	font-weight: normal;
}
h3{
	font-weight: normal;
}
p {
	font-family: sans-serif;
}
a {
	text-decoration: none;
	color: #e35d6a;
	font-weight: normal;
}
.body {
	padding: 0;
	margin: auto;
	width: 80%;
}
.header {
	padding: 10px;
	margin: auto;
}

.nav {
	padding: 10px;
	margin: auto;
	font-family: 'Lora', serif;
}
.nav table {
	margin: auto;
	width: 50%;
	table-layout: fixed;
	text-align: center;
}
.nav a:hover {
	font-weight: bold;
}
.text {
	padding: 10px;
	margin: auto;
	width: 80%;
	text-align: left;
}
.gallery {
	padding: 10px;
	margin: auto;
}
.gallery table {
	margin: auto;
	width: 90%;
	table-layout: fixed;
}
.gallery img {
	max-width: 100%;
}
.gallery-nav {
	padding: 10px;
	margin: auto;
}
.gallery-nav table {
	margin: auto;
	width: 90%;
	table-layout: fixed;
}
#footer {
	font-size: .8em;
}
#previous {
	text-align: left;
}
#next {
	text-align: right;
}